@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    background-image: url("../images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 200px;
    width: 100%;
}

.brand {
    font-size: 48px;
}

.list-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;
    padding: 30px;

}

.list-items a {
    color: white;
}



.list-item {
    margin: 20px;
    font-size: 24px;
    text-decoration: none;
}

/* main */

.main {
    padding: 100px;
}


/* hero */

.hero {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

h1 {
    font-size: 62px;
}


/* more */

.more {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: #2e5672;
    padding: 20px;
    width: 300px;
    color: white;
    font-weight: bold;
}

.innovation_card {
    background-color: #2e5672;
    padding: 20px;
    width: 300px;
    color: white;
    font-weight: bold;
}

/* learn more button */

.learn_more {
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: 24px;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
}

.puzzle-icon {
    font-size: 16px;
    color: #000;
    background: #fff;
    padding: 5px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}


@media screen and (max-width:600px) {

    .brand {
        text-align: center;
    }

    .list-items {
        display: none;
    }    

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main {
        padding: 0px;
    }
    
    h1 {
        font-size: 28px;
    }

    .more {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        margin: 100px;
    }

    .learn_more {
        border: 2px solid white;
        background: transparent;
        color: white;
        font-size: 24px;
        width: 300px;
        padding: 20px;
        border-radius: 30px;
        font-weight: bold;
        margin: 100px;
    }

    body {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        background-image: url(../images/main_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        font-family: 'Poppins', sans-serif;
    }

}
